{% extends 'base.html' %}

{% block titulo %} Centara Grand Hotel - Administrador de comentarios {% endblock %}
{% block tit_bar %} Administrar comentarios {% endblock %}
{% block btn_login %} Acceso {% endblock %}
{% block btn_signin %} Registro {% endblock %}
{% block btn_dashboard %} DashBoard {% endblock %}
{% block btn_about %} Acerca de {% endblock %}
{% block btn_exit %} Salir {% endblock %}

{% block contenido_1 %}
<v-card class="d-flex align-center pa-2" height="250px" width = "720px" elevation=15> 
    <v-card-text>
         <v-container>
            <v-row class="d-flex align-center pt-3" justify="space-around">
                <v-col class="px-2 py-2">
                    <!--Contenerdor interno-->
                    <v-card class="px-2 py-2" height="100px">
                        <v-row class="d-flex align-center pt-3" justify="space-around">
                              <v-col class="text-h4 white--text font-weight-bold">
                                  <v-text-field
                                      id="search"
                                      append-icon="mdi-magnify"
                                      label="Buscar"
                                  ></v-text-field>
                              </v-col>
                              <v-col class="text-h4 white--text font-weight-bold">
                                <v-card-actions>
                                  <v-btn color="gray" text text title="Buscar" onclick=get_one() >Buscar</v-btn>
                                  <v-btn color="gray" text text title="Buscar" onclick=clear_all()>Clear</v-btn>                                                                      
                                  <v-btn elevation=8 color="green" onclick=get_data() >Mostrar todos</v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                    </v-card>   
                </v-col>
            </v-row>
        </v-container>
    </v-card-text>
</v-card>
{% endblock %}
{% block contenido_2 %}
<template>
    <!--Linea separador-->
    <v-row>
        <v-divider></v-divider> 
    </v-row>
    <v-row>
        <h3><br></h3>
    </v-row>

    <!--Titulo-->
    <v-row class="d-flex align-center" justify="space-around"> 
        <h2 class="justify">Comentarios</h2> 
    </v-row>

     
      <template>
        <v-row>

            <v-col>

                <v-card
                class="mx-auto"
                color="#26c6da"
                dark
                max-width="400"
                >
                <v-card-title>
                    <v-icon
                    large
                    left
                    >
                    mdi-twitter
                    </v-icon>
                    <span class="text-h6 font-weight-light">Twitter</span>
                </v-card-title>
            
                <v-card-text class="text-h5 font-weight-bold">
                    "Turns out semicolon-less style is easier and safer in TS because most gotcha edge cases are type invalid as well."
                </v-card-text>
            
                <v-card-actions>
                    <v-list-item class="grow">
                    <v-list-item-avatar color="grey darken-3">
                        <v-img
                        class="elevation-6"
                        alt=""
                        src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
                        ></v-img>
                    </v-list-item-avatar>
            
                    <v-list-item-content>
                        <v-list-item-title>Evan You</v-list-item-title>
                    </v-list-item-content>
            
                    <v-row
                        align="center"
                        justify="end"
                    >
                        <v-icon class="mr-1">
                        mdi-heart
                        </v-icon>
                        <span class="subheading mr-2">256</span>
                        <span class="mr-1">·</span>
                        <v-icon class="mr-1">
                        mdi-share-variant
                        </v-icon>
                        <span class="subheading">45</span>
                    </v-row>
                    </v-list-item>
                </v-card-actions>
                </v-card>

            </v-col>
        </v-row>
            
        <v-row>
          <v-divider></v-divider>
        </v-row>
      </template> 






    <!--Contenedor de datos-->
    <v-row id= "content_users" class="d-flex align-center" justify="space-around">
    </v-row>
        <v-row>
            <v-divider></v-divider>
        </v-row>
</template> 


{% endblock %}
{% block text_footer_01 %} Todas las marcas comerciales y registradas que aparecen aqui, son propiedad de sus respectivos dueños. {% endblock %}
{% block text_footer_02 %} Hotel Demo - Atencion sin Igual - Todos los derechos reservados.{% endblock %}