<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="es-419">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/funciones.js') }}"></script>
    <title>{% block titulo %}config{% endblock %}</title>
  </head>
  <body onload="params()">
    <v-app id="app_ht">
      <v-container fluid>
        <v-app-bar app color="#00000" dark elevate-on-scroll elevation=10> 
          <v-app-bar-nav-icon @click="drawer = !drawer" title="Menu"></v-app-bar-nav-icon>
            <v-toolbar-title shrink-on-scroll>{% block tit_bar %} {% endblock %} {% block tit_usr %} {% endblock %} {{session['usr_name']}} </v-toolbar-title>
            <v-spacer></v-spacer>
            {% if is_login %}
            <v-btn class="amber darken-4 pd-2 ml-4" elevation="8" rounded title="DashBoard" href="/dashboard">
              <v-icon class="md-2" left>mdi-cards-variant</v-icon>
              {% block btn_dashboard %} {% endblock %}     
            </v-btn>
  
            <v-btn class="amber darken-4 pd-2 ml-4" elevation="8" rounded title="Acerca de" href="/">
              <v-icon class="md-2" left>mdi-help-circle</v-icon>
              {% block btn_about %} {% endblock %}     
            </v-btn>
  
            <v-btn class="error pd-2 ml-4" elevation="8" rounded title="Salir" href="{{url_for('main.logout')}}" >
              <v-icon class="md-2" left>mdi-exit-to-app</v-icon>
              {% block btn_exit %} {% endblock %}      
            </v-btn>
  
            {% else %}
  
            <v-btn class="pd-2 ml-4" elevation="8" rounded outlined title="Acceder" href="/usr_login">
              <v-icon class="md-2" left>mdi-account-circle</v-icon>
              {% block btn_login %} {% endblock %}
            </v-btn>
  
            <v-btn class="success pd-2 ml-4" elevation="8" rounded title="Registrar Usuario" href="/usr_registro">
              <v-icon class="md-2" left>mdi-account-plus</v-icon>
              {% block btn_signin %} {% endblock %}       
            </v-btn>
  
            {% endif %}
        </v-app-bar>
        </v-container>


      <v-main class="pt-0">

        <!-- USUARIOS -->
        
        <v-card class="mx-auto my-12" max-width="574">
          <v-app-bar elevation = "0" >
            <input type="hidden" id="btn_email">
            <input type="hidden" id="table" value="users">

            <v-btn id="btn_id" text disabled></v-btn>
            <v-divider vertical></v-divider>

            <v-btn id="btn_name" text disabled></v-btn>
            <v-divider vertical></v-divider>

            <v-btn id="btn_rol" text disabled></v-btn>
            <v-spacer></v-spacer>

            <v-btn color="error" class="mr-4" text onclick="eliminar()" >Eliminar Usuario</v-btn>
            
          </v-app-bar>
          <v-card-text>
            <template>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field id= "name" :counter="100" label="Name" required></v-text-field>
                <v-text-field id="email" label="E-mail" required></v-text-field>
                <v-text-field id="role" label="Rol" required></v-text-field>
                <!--<v-select id="rol" label="Rol" :items="['Admin','Moderador','Free']" required></v-select>-->
                <v-btn color="success" class="mr-4"onclick="edit()" >Editar</v-btn>
              </v-form>
            </template>
          </v-card-text>
        </v-card>

        <!-- HABITACIONES -->
        
      </v-main>
    </v-app>


      <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
      <script src="{{ url_for('static', filename='js/responses.js') }}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
          new Vue({
          el: '#app_ht',
          drawer: null,
          dial_reg: false,
          vuetify: new Vuetify(),
          data: () => ({
            valid: false,
            name: '',
          }),
          methods: {
            validate () {
              this.$refs.form.validate()
            }
          }
        })
      </script>
  </body>
</html>



