{% extends 'base.html' %}

{% block titulo %} Centara Grand Hotel - Administrador de reservas {% endblock %}
{% block tit_bar %} Administrar reservas {% endblock %}
{% block btn_login %} Acceso {% endblock %}
{% block btn_signin %} Registro {% endblock %}
{% block btn_dashboard %} DashBoard {% endblock %}
{% block btn_about %} Acerca de {% endblock %}
{% block btn_reserva %} Has tu Reserva {% endblock %}
{% block btn_exit %} Salir {% endblock %}

{% block contenido_1 %}
<v-row class="mx-auto py-2" justify="center">
    <v-card class="align-center pt-1" height="250" width="750" elevation=15>
    <v-card-title>Buscar de información</v-card-title> 
    <v-card-text>
        <v-row class="d-flex align-center pt-2" justify="space-around">
            <v-col class="align-center px-1">
                <v-card class="px-1 py-1" height="100">
                    <v-row class="align-center pt-2" justify="space-around">
                        <v-col class="text-h4 white--text font-weight-bold">
                            <v-text-field
                                id="search"
                                append-icon="mdi-magnify"
                                label="Buscar el Id de la reserva"
                                clearable
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row class="align-center pt-1" justify="space-around">
                        <v-col class="align-center py-1 px-1 text-h4 white--text font-weight-bold">
                            <v-card-actions>
                                <!--<input type="hidden" id="table" value="users">
                                <input type="hidden" id="route" value="/adm/users/">-->
                                <v-btn color="orange" elevation=8 text text title="Buscar" onclick="search()">Buscar</v-btn>
                                <v-btn color="gray" elevation=8 text text title="Limpiar Todo" onclick="clear_all()">Limpiar</v-btn>                                                                      
                                <v-btn color="green" elevation=8 title="Buscar Todo" onclick="search('all')" >Todos</v-btn>
                            </v-card-actions>
                        </v-col>
                   </v-row>
                </v-card>   
            </v-col>
        </v-row>
        </v-card-text>
    </v-card>
</v-row>
{% endblock %}
{% block contenido_2 %}
<template>
    <!--Linea separador-->
    <v-row>
        <v-divider></v-divider> 
    </v-row>
    <v-row>
        <h3><br></h3>
    </v-row>

    <!--Titulo-->
    <v-row class="d-flex align-center" justify="space-around"> 
        <h2 class="justify">Reservas</h2> 
    </v-row>
    <v-row>
        <v-divider></v-divider>
    </v-row>

    <!--Contenedor de datos-->
    <v-row id= "content_users" class="d-flex align-center" justify="space-around">
        <template>
            <v-simple-table>
              <template v-slot:default>
                    <thead>
                        <input id="table" type="hidden" value="reservas">
                      <tr>
                        <th class="text-left">ID</th>
                        <th class="text-left">Usuario que solicita</th>
                        <th class="text-left">Fecha de solicitud</th>
                        <th class="text-left">Empieza</th>
                        <th class="text-left">Termina</th>
                        <th class="text-left">Estado</th>
                        <th class="text-left">Lista</th>
                        <th class="text-left">Cancelar</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for reserva in reserva_list%}
                      <tr>
                        <td>{{ reserva[0]}}</td>
                        <td>{{ reserva[1]}}</td>
                        <td>{{ reserva[2]}}</td>
                        <td>{{ reserva[3]}}</td>
                        <td>{{ reserva[4]}}</td>
                        <td>{{ reserva[5]}}</td>
                        <td>
                            <v-btn id="{{reserva[0]}}" depressed plain color="green" elevation="0" fab x-small dark onclick="confirm_check( {{reserva[0]}} )">
                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                            </v-btn>
                        </td>
                        <td>
                            <v-btn id="{{reserva[0]}}" depressed plain color="red" elevation="0" fab x-small dark onclick="delete_check( {{reserva[0]}} )">
                                <v-icon>mdi-cancel</v-icon>
                            </v-btn>
                        </td>
                      </tr>
                        {% endfor %}
                    </tbody>
              </template>
            </v-simple-table>
          </template>
    </v-row>
    <v-row>
        <v-divider></v-divider>
    </v-row>
</template> 

{% endblock %}
{% block text_footer_01 %} Todas las marcas comerciales y registradas que aparecen aqui, son propiedad de sus respectivos dueños. {% endblock %}
{% block text_footer_02 %} Hotel Demo - Atencion sin Igual - Todos los derechos reservados.{% endblock %}