<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="es-419">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <title>Admin users</title>
    </head>
    <body>
        <div id="app_ht">
          <v-app>
            <v-app-bar app color="#00000" dark elevate-on-scroll elevation=5>
                <v-app-bar-nav-icon @click="drawer = !drawer" title="Menu"></v-app-bar-nav-icon>
                <v-toolbar-title class="xs-4" shrink-on-scroll>Administrador de usuarios</v-toolbar-title>
                <v-spacer></v-spacer>
                <!--Home-->
                <v-btn class="pd-2 ml-4 xs" elevation="8" rounded title="Home" href="/" @click="dial_reg = true">
                  HOME
                </v-btn>

                <!--About-->
                <v-btn class="pd-2 ml-4 xs" elevation="8" rounded title="About" href="/" @click="dial_reg = true">
                  About     
                </v-btn>

                <!--About-->
                <v-btn class="pd-2 ml-4 xs" elevation="8" rounded title="About" href="/dashboard" @click="dial_reg = true">
                    dashboard    
                </v-btn>

                <!--Salir si el usuario está logueado-->
                <v-btn class="error pd-2 ml-4 xs" elevation="8" title="Salir" rounded @click.prevent="signOut">
                    <v-icon class="md-2" left>mdi-exit-to-app</v-icon>
                    {% block btn_exit %} {% endblock %}      
                  </v-btn>
            </v-app-bar>
  
            <v-main class="pt-0">
                <v-container fluid>
                    <v-parallax height="500" src="https://htmlcolorcodes.com/assets/images/colors/light-gray-color-solid-background-1920x1080.png">
                        <v-row class="d-flex align-center" justify="center">
                            <v-col class="text-center" cols="12">
                                <h1 class="text-h2 font-weight-bold black--text mb-4">
                                  Centara Grand Hotel 
                                </h1>
                                <h3 class="subheading white--text">
                                  <div>
                                  </div>
                                </h3>
                                <h4 class="subheading white--text">
                                    <!--Contenerdor externo-->
                                    <v-card class="d-flex align-center pa-2" height="250px" width = "520px" elevation=15> 
                                        <v-card-text>
                                             <v-container>
                                                <v-row class="d-flex align-center pt-3" justify="space-around">
                                                    <v-col class="px-2 py-2">
                                                        <!--Contenerdor interno-->
                                                        <v-card class="px-2 py-2">
                                                            <v-row class="d-flex align-center pt-3" justify="space-around">
                                                                <v-col class="text-h4 white--text font-weight-bold">
                                                                    <v-text-field
                                                                        name="search"
                                                                        append-icon="mdi-magnify"
                                                                        label="Buscar usuarios"
                                                                        single-line
                                                                        hide-details
                                                                    ></v-text-field>
                                                                </v-col>
                                                            </v-row>
                                                            <v-card-title></v-card-title>
                                                            <v-card-actions>
                                                                <v-btn color="gray" text title="Añadir nuevo usuario">Añadir</v-btn>
                                                                <v-btn color="gray" text title="Editar usuarios">Editar</v-btn>
                                                                <v-btn color="red" text title="Eliminar usuarios">Eliminar</v-btn>
                                                                <v-btn id= "show" color="gray" onclick= get_data() >Mostrar todos</v-btn>
                                                            </v-card-actions>
                                                        </v-card>   
                                                    </v-col>
                                                </v-row>
                                            </v-container>
                                        </v-card-text>
                                    </v-card>
                                </h4>
                            </v-col>
                        </v-row>
                    </v-parallax>
                </v-container>

                <v-container fluid>
                    <template>
                        <!--Linea separador-->
                        <v-row>
                            <v-divider></v-divider> 
                        </v-row>
                        <v-row>
                            <h3><br></h3>
                        </v-row>

                        <!--Titulo-->
                        <v-row class="d-flex align-center" justify="space-around"> 
                            <h2 class="justify">Usuarios</h2> 
                        </v-row>

                        <!--Contenedor de datos-->
                        <v-row id= "content_users" class="d-flex align-center" justify="space-around">
                        </v-row>
                            <v-row>
                                <v-divider></v-divider>
                            </v-row>
                    </template>  
                </v-container>


                <v-container fluid>
                    {% block contenido_3 %}
                
                    {% endblock %}
                </v-container>
            
                <v-container fluid>
                  {% block contenido_4 %}
                
                  {% endblock %}
                </v-container>

                <v-container fluid>
                  {% block contenido_5 %}
                
                  {% endblock %}
                </v-container>
  
            </v-main>
            <v-footer dark padless elevation="5">
              <v-card flat tile class="indigo lighten-1 white--text text-center flex">
                <v-card-text>
                  <v-btn href="https://www.facebook.com/quantumsdata" title="Facebook" class="mx-4 white--text" icon>
                    <v-icon size="24px">mdi-facebook</v-icon>
                  </v-btn>
                  <v-btn href="https://twitter.com/quantumsdata" title="Twitter" class="mx-4 white--text" icon>
                    <v-icon size="24px">mdi-twitter</v-icon>
                  </v-btn>
                  <v-btn href="https://www.linkedin.com/company/quantumsdata" title="LinkedIn" class="mx-4 white--text" icon>
                    <v-icon size="24px">mdi-linkedin</v-icon>
                  </v-btn>
                  <v-btn href="https://www.instagram.com/quantumsdata" title="Instagram" class="mx-4 white--text" icon>
                    <v-icon size="24px">mdi-instagram</v-icon>
                  </v-btn>
                </v-card-text>
          
                <v-card-text class="white--text pt-0">
                  {% block text_footer_01 %} {% endblock %}
                </v-card-text>
          
                <v-divider></v-divider>
          
                <v-card-text class="white--text">
                  2021 — <strong>{% block text_footer_02 %} {% endblock %}</strong>
                </v-card-text>
              </v-card>
            </v-footer>
          </v-app>
        </div>
  
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="{{ url_for('static', filename='js/responses.js') }}"></script>
        <script>
          new Vue({
            el: '#app_ht',
            vuetify: new Vuetify(),
          })
        </script>
    </body>
</html>

<!--
<v-card class="d-flex align-center pa-2" height="250px" elevation=15> 
    <v-card-text>
         <v-container fluid>
            <v-row class="d-flex align-center pt-3" justify="space-around" no-gutters>
                <v-col class="px-2 py-2">
                    <v-card class="px-2 py-2">
                        <v-row class="d-flex align-center">
                            <v-col cols="1" sm="4" md="3">
                                <v-text-field name="search" append-icon="mdi-magnify" label="Buscar usuario" single-line hide-details></v-text-field>
                            </v-col>
                        </v-row>
                        <v-card-title></v-card-title>
                        <v-card-actions>
                            <v-btn color="grey light-2" elevation="10" rounded @click="btn_nuevo" title="Nuevo Registro">Nuevo</v-btn>
                            <v-btn color="grey light-2" elevation="10" rounded @click="btn_editar" title="Editar Registro">Editar</v-btn>
                            <v-btn color="grey light-2" elevation="10" rounded @click="btn_eliminar" title="Eliminar Registro">Eliminar</v-btn>
                            <v-btn color="grey light-2" elevation="10" rounded @click="btn_salir" href="/dashboard" title="Salir Modulo">Salir</v-btn>
                        </v-card-actions>
                    </v-card>   
                </v-col>
            </v-row>
        </v-container>

    </v-card-text>
</v-card>
-->