<html> 

<head>  
    
    <script src="JS_adm_admin.js"> </script>
    <link rel="stylesheet"type="text/css" href="{{ url_for('static',filename='styles/comentarios.css') }}">
    <title>Comentarios</title> 
    <meta charset="UTF-8"> 
    
</head>

<body>
    <h1>Centala Grand Hotel</h1>
    <a class="Inicio" href="" title="Inicio">INICIO</a>
    <b class="Que_es" href="" title="Que_es">¿QUE ES?</b>
    <g class="como_se_usa" href="" title="como_se_usa">¿COMO SE USA?</g>
    <u class="soporte" href="" title="soporte">SOPORTE</u>
    <i class="salir" href="" title="salir">SALIR<img src="{{ url_for('static',filename='img/buscador.png')}}" width="30" height="30"/></i>
     
    <form name="formRegistro" onsubmit="return validar()"> 
        <p>MODULO DE COMENTARIOS Y CALIFICACIONES</p>
        
    </form>

    <p>Habitación No: <input type="text" id="Buscar_hb" name="Buscar_hb"><input type="submit" id="boton_busc" name="boton_busc" value="Buscar"> Reserva No: <input type="text" id="Buscar_hab" name="Buscar_hab"><input type="submit" id="boton_busc" name="boton_busc" value="Buscar"></p>
    <p>Resultados de busqueda: </p>

    <h3>
        <p>Comentarios clientes</p>
        <div>
            <table>
                <tr>
                    <td>
                        <h2>Fulano</h2>
                        <p>Edad: 15 años</p>
                        <p>Publicado en 2018</p>
                        <p>Calificación: 10/10</p>
                    </td>
                    <td>
                        <p>Comentario:</p>
                        <p>Excelente servicio!!!</p>
                        <p>15 likes/9 dislike</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Perenceno</h2>
                        <p>Edad: 21 años</p>
                        <p>Publicado en 2020</p>
                        <p>Calificación: 7/10</p>
                    </td>
                    <td>
                        <p>Comentario:</p>
                        <p>Bien, pero podría mejorar si implementan mayor entretenimiento</p>
                        <p>5 likes/1 dislike</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Zutano</h2>
                        <p>Edad: 33 años</p>
                        <p>Publicado hace 3 horas</p>
                        <p>Calificación: 3/10</p>
                    </td>
                    <td>
                        <p>Comentario:</p>
                        <p>Mal servicio, definitivamente los hoteles clasicos son mejores</p>
                        <p>2 likes/1 dislike</p>
                    </td>
                </tr>
            </table>
        </div>
    </h3>
    <div>
        <table>
            <tr>
                <input type="submit" id="boton_agg" name="boton_agg" value="Agregar"><input type="submit" id="boton_Editar" name="boton_Editar" value="Editar"><input type="submit" id="boton_eli" name="boton_eli" value="Eliminar"><input type="submit" id="boton_Sali" name="boton_Sali" value="Salir">
            </tr>
        </table>
    </div>


</body>

</html>