{% extends 'base.html' %}

{% block titulo %} Dashboard {% endblock %}
{% block tit_bar %} DASHBOARD {% endblock %}
{% block btn_login %} Acceso {% endblock %}
{% block btn_signin %} Registro {% endblock %}
{% block btn_dashboard %}Dasboard{% endblock %}
{% block btn_about %}Acerda de{% endblock %}
{% block btn_exit %}Salir{% endblock %}
{% block contenido_1 %}
<v-card class="d-flex align-center pa-2" flat wwidth = "100px" height="250px" elevation=15 style="block-size: auto;">
    <v-card-title>Control de administracion</v-card-title>
    <v-card class="mx-auto" elevation = 0>
        <v-row class="d-flex " justify="space-around" no-gutters>
            <v-col class="text-h4 white--text font-weight-bold">
                {% if g.is_admin or g.is_moder %}
                <v-card-actions>
                    <v-btn class="ma-2" elevation = "2" color="indigo" outlined height="60" padding= "10px" width="280" elevation="10" href="/adm/habitaciones" title="Administrar Habitaciones"><v-icon>mdi-bed-empty</v-icon>Habitaciones</v-btn>
                </v-card-actions>
                <v-card-actions>
                    <v-btn class="ma-2" elevation = "2" color="indigo" outlined height="60" width="280" elevation="10" href="/adm/reservas" title="Administrar Reservas"><v-icon>mdi-room-service</v-icon>Reservas</v-btn>
                </v-card-actions>
                {% endif %}
            </v-col>
            <v-divider vertical></v-divider>
            <v-col class="text-h4 white--text font-weight-bold">
                {% if g.is_admin or g.is_moder %}
                <v-card-actions>
                    <v-btn class="ma-2" elevation = "2" color="indigo" outlined height="60" width="280" elevation="10" href="/adm/users" title="Administrar Seguridad"><v-icon>mdi-account-lock</v-icon>Seguridad</v-btn>
                </v-card-actions>
                {% endif %}
                <v-card-actions>
                    <v-btn class="ma-2" elevation = "2" color="indigo" outlined height="60" width="280" elevation="10" href="/adm/comentarios" title="Administrar Comentarios"><v-icon>mdi-comment-text-multiple-outline</v-icon>Comentarios</v-btn>
                </v-card-actions>
                </v-card>
            </v-col>  
        </v-row>
    </v-card>
</v-card>
{% endblock %}
{% block text_footer_01 %} Todas las marcas comerciales y registradas que aparecen aqui, son propiedad de sus respectivos dueños. {% endblock %}
{% block text_footer_02 %} Hotel Demo - Atencion sin Igual - Todos los derechos reservados.{% endblock %}