{% extends 'base.html' %}

{% block titulo %} DashBoard {% endblock %}
{% block tit_bar %} DASHBOARD {% endblock %}
{% block btn_login %} Acceso {% endblock %}
{% block btn_signin %} Registro {% endblock %}
{% block btn_dashboard %}Dasboard{% endblock %}
{% block btn_about %}Acerda de{% endblock %}
{% block btn_reserva %} Has tu Reserva {% endblock %}
{% block btn_exit %}Salir{% endblock %}
{% block contenido_1 %}
<v-container fluid>
    <v-row class="mx-auto py-1" justify="center" no-gutters>
        <v-card class="align-center pt-1" justify="center" elevation=15>
        <v-card-title>Administración</v-card-title>
            <v-card class="align-center py-1" justify="center" elevation=10>
                <v-row class="d-flex align-center mx-0" justify="center" no-gutters>
                    <v-col class="align-center text-h4 white--text font-weight-bold">
                        {% if g.is_admin or g.is_moder %}
                        <v-card-actions>
                            <v-btn color="indigo" outlined height="60" width="245" elevation="10" href="{{url_for('main.adm_habitaciones')}}" title="Administrar Habitaciones">
                            <v-icon class="pr-2">mdi-bed-empty</v-icon>Habitaciones</v-btn>
                        </v-card-actions>
                        <v-card-actions>
                            <v-btn color="indigo" outlined height="60" width="245" elevation="10" href="{{url_for('main.adm_reservas')}}" title="Administrar Reservas">
                            <v-icon class="pr-9">mdi-room-service</v-icon>Reservas</v-btn>
                        </v-card-actions>
                        {% endif %}
                    </v-col>
                    <v-col class="align-center text-h4 white--text font-weight-bold">
                        {% if g.is_admin or g.is_moder %}
                        <v-card-actions>
                            <v-btn class="pr-2" color="indigo" outlined height="60" width="245" elevation="10" href="{{url_for('main.admin_users')}}" title="Administrar Seguridad">
                            <v-icon class="pr-8">mdi-account-lock</v-icon>Seguridad</v-btn>
                        </v-card-actions>
                        {% endif %}
                        {% if g.is_admin or g.is_moder or g.is_free %}
                        <v-card-actions>
                            <v-btn color="indigo" outlined height="60" width="245" elevation="10" href="{{url_for('main.adm_comentarios')}}" title="Administrar Comentarios">
                            <v-icon class="pr-2">mdi-comment-text-multiple-outline</v-icon>Comentarios</v-btn>
                        </v-card-actions>
                        {% endif %}
                    </v-col>  
                </v-row>
            </v-card>
        </v-card>
    </v-row>
    <v-row class="d-flex align-center" justify="center">
        <div>
        <br>
        <br>
        <br>
        </div>
    </v-row>
    <v-row>
        <v-divider></v-divider> 
    </v-row>
</v-container>
{% endblock %}
{% block text_footer_01 %} Todas las marcas comerciales y registradas que aparecen aqui, son propiedad de sus respectivos dueños. {% endblock %}
{% block text_footer_02 %} Hotel Demo - Atencion sin Igual - Todos los derechos reservados.{% endblock %}