{% extends 'base.html' %}

{% block titulo %} Centara Grand Hotel {% endblock %}
{% block tit_bar %} Centara Grand Hotel - Error {% endblock %}
{% block btn_dashboard %} DashBoard {% endblock %}
{% block btn_about %} Acerca de {% endblock %}
{% block btn_exit %} Salir {% endblock %}
   
{% block contenido_1 %}

{{errores}}

{% endblock %}
{% block text_footer_01 %} Todas las marcas comerciales y registradas que aparecen aqui, son propiedad de sus respectivos dueños. {% endblock %}
{% block text_footer_02 %} Hotel Demo - Atencion sin Igual - Todos los derechos reservados.{% endblock %}