{% extends 'base.html' %}

{% block titulo %} Centara Grand Hotel {% endblock %}
{% block tit_bar %} Centara Grand Hotel {% endblock %}
{% block btn_login %} Acceso {% endblock %}
{% block btn_signin %} Registro {% endblock %}
{% block contenido_1 %}

<v-container fluid>
  <v-row class="align-center pa-2" justify="center">
    <v-col cols="12" sm="6" md="4" class="px-2 py-2">
      <v-card class="align-center pa-2" elevation=15 width="350">
        <v-card-title>Acceso a la Aplicación</v-card-title>    
          <form name="formulariologin" submit="submit" method="POST">
              <v-text-field
                name="usr_email"
                :counter="25"
                solo
                type="email"
                label="Nombre de Usuario"
                id="usr_email"
                required
                prepend-inner-icon="mdi-account"
                clearable
              ></v-text-field>

              <v-text-field
                name="usr_password"
                solo
                type="password"
                label="Clave de Acceso"
                required
                prepend-inner-icon="mdi-lock"           
              >
                <template v-slot:append-outer>
                  <v-tooltip
                    bottom
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon v-on="on" onmouseover="verClave_Log();" onmouseout="ocultarClave_Log()">
                        mdi-eye
                      </v-icon>
                    </template>
                    Ver la Clave
                  </v-tooltip>
                </template>
              
              </v-text-field>
              <v-divider class="py-3"></v-divider>
            <v-btn class="mr-4" type="submit" title="Acceder a la aplicación">Acceder</v-btn>
            <v-btn title="Salir del modulo" href="/">Salir</v-btn>
          </form>
      </v-card>
    </v-col>
  </v-row>
</v-container>


{% endblock %}
{% block text_footer_01 %} Todas las marcas comerciales y registradas que aparecen aqui, son propiedad de sus respectivos dueños. {% endblock %}
{% block text_footer_02 %} Hotel Demo - Atencion sin Igual - Todos los derechos reservados.{% endblock %}